<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.portfolio.domain.QuestionVO" alias="QuestionVO"/>
        <typeAlias type="com.portfolio.domain.AnswerVO" alias="AnswerVO"/>
        <typeAlias type="com.portfolio.domain.ImageVO" alias="ImageVO"/>
    </typeAliases>
</configuration>