<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.portfolio.domain.QuestionVO" alias="QuestionVO"/>
        <typeAlias type="com.portfolio.domain.UserVO" alias="UserVO"/>
        <typeAlias type="com.portfolio.domain.AnswerVO" alias="AnswerVO"/>
        <typeAlias type="com.portfolio.domain.CommentVO" alias="CommentVO"/>
        <typeAlias type="com.portfolio.domain.AnswerLikeVO" alias="AnswerLikeVO"/>
        <typeAlias type="com.portfolio.domain.CommentLikeVO" alias="CommentLikeVO"/>
        <typeAlias type="com.portfolio.domain.QuestionCategoryVO" alias="QuestionCategoryVO"/>
        <typeAlias type="com.portfolio.domain.QAPairVO" alias="QAPairVO"/>
<!--        <typeAlias type="com.portfolio.domain.QuestionReplyVO" alias="QuestionReplyVO"/>-->
        <typeAlias type="com.portfolio.domain.ImageVO" alias="ImageVO"/>
        <typeAlias type="com.portfolio.security.CustomUserDetails" alias="CustomUserDetails"/>
    </typeAliases>
</configuration>