
.search-overlay {
    top: 50px;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    z-index: 2;
    visibility: hidden;
    transition: opacity 250ms, visibility 250ms;
}

input.search-input:focus + .search-overlay {
    opacity: 1;
    visibility: visible;
}

.show-search-overlay {
    opacity: 1;
    visibility: visible;
}

.best-title:hover div {
    overflow: visible !important;
    white-space: normal !important;
}

/*textarea::-webkit-scrollbar {*/
/*    width: 10px;*/
/*}*/

/*textarea::-webkit-scrollbar-thumb {*/
/*    border-radius: 9999em;*/
/*    box-shadow: rgb(255 255 255 / 10%) 0px 0px 10px 10px inset;*/
/*    border: 2px solid transparent;*/
/*}*/

/*textarea::-webkit-scrollbar-track {*/
/*    background-color: transparent;*/
/*}*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 9999em;
    box-shadow: rgb(255 255 255 / 10%) 0px 0px 10px 10px inset;
    border: 2px solid transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

