
.popover {
    padding: 0 !important;
    background-color: #262626 !important;
    border: 1px solid #393839 !important;
}

.popover-body {
    padding: 0 !important;
    color: rgb(213, 214, 214) !important;
}

.popover-arrow::after{
    border-right-color: #262626 !important;
}

.sort-popover-item {
    padding: 5px 12px 5px 5px;
    transition: background-color 250ms ease-in-out;
    font-size: 13px;
}

.sort-popover-item:hover {
    background-color: rgba(255, 255, 255, 0.04) !important;
}

.sort-mini-checker {
    border-bottom: 2px solid #1E90FF;
    border-right: 2px solid #1E90FF;
    transform: rotate(0.125turn);
    width: 7px;
    height: 12px;
    position: absolute;
    top: 5px;
    left: -6px;
}