
.popover {
    padding: 0 !important;
    background-color: #262626 !important;
    border: 1px solid #393839 !important;
}

.popover-body {
    padding: 0 !important;
    color: rgb(213, 214, 214) !important;
}

.popover-body span {
    padding: 0 10px !important;
}

.bs-popover-auto[data-popper-placement^=top]>.popover-arrow::after, .bs-popover-top>.popover-arrow::after {
    border-top-color: #393839 !important;
}

.bs-popover-auto[data-popper-placement^=start]>.popover-arrow::after, .bs-popover-start>.popover-arrow::after {
    border-left-color: #393839 !important;
}

.bs-popover-auto[data-popper-placement^=end]>.popover-arrow::after, .bs-popover-end>.popover-arrow::after {
    border-right-color: #393839 !important;
}

.bs-popover-auto[data-popper-placement^=bottom]>.popover-arrow::after, .bs-popover-bottom>.popover-arrow::after {
    border-bottom-color: #393839 !important;
}


.comment-popover-item, .answer-popover-item {
    padding: 5px 12px 5px 5px;
    transition: background-color 250ms ease-in-out;
    font-size: 13px;
    cursor: pointer;
}

.comment-popover-item:hover, .answer-popover-item:hover {
    background-color: rgba(255, 255, 255, 0.04) !important;
}

.sort-mini-checker {
    border-bottom: 2px solid #1E90FF;
    border-right: 2px solid #1E90FF;
    transform: rotate(0.125turn);
    width: 7px;
    height: 12px;
    position: absolute;
    top: 5px;
    left: -6px;
}