.link-default-color {
    color: rgb(213, 214, 214) !important;
}

.link-default-color:hover {
    color: rgb(213, 214, 214) !important;
}

.color-dark-gray {
    color: rgb(142, 144, 146) !important;
}

.color-red {
    color: rgb(245, 41, 54) !important;
}

.font-bold {
    font-weight: bold;
}

.hover-underline:hover {
    text-decoration: underline!important;
}

.bg-dark {
    background-color: rgb(38, 38, 38) !important;
}

.bg-black {
    background-color: rgb(18, 18, 18) !important;
}


.bg-transparent-dark {
    background-color: rgba(36, 36, 36, 0.9);
}

.border-color-dark {
    border-color: rgb(26, 26, 26) !important;
}

.border-color-gray {
    border-color: rgb(57, 56, 57) !important;
}

.border-all {
    border-style: solid;
    border-width: 1px;
    border-color: #dee0e1;
}


.hover-border-color-blue:hover {
    border-color: rgb(46, 105, 255) !important;
}

.border-color-whiten {
    border-color: rgba(255, 255, 255, 0.06) !important;
}

.bg-hover-whiten:hover {
    background-color: rgba(255, 255, 255, 0.09) !important;
}

.bg-hover-whiten-light:hover {
    background-color: rgba(255, 255, 255, 0.04) !important;
}

.bg-hover-darken:hover {
    background-color: rgba(0, 0, 0, 0.09) !important;
}

.bg-hover-darken-light:hover {
    background-color: rgba(0, 0, 0, 0.045) !important;
}

.rounded-left-top-pill {
    border-top-left-radius: 1000px;
}

.rounded-left-bottom-pill {
    border-bottom-left-radius: 1000px;
}

.rounded-right-top-pill {
    border-top-right-radius: 1000px;
}

.rounded-right-bottom-pill {
    border-bottom-right-radius: 1000px;
}

.rounded-6 {
    border-radius: 0.6rem !important;
}

.rounded-7 {
    border-radius: 0.7rem !important;
}

.color-blue {
    color: #4894fd !important;
}

.color-gray {
    color: #b1b3b6 !important;
}

.color-black-light {
    color: #636466 !important;
}

.color-gray-light {
    color: #939598 !important;
}

.color-gray-dark {
    color: #282829 !important;
}

.bg-blue {
    background-color: #282D41 !important;
}

.bg-blue-2 {
    background-color: #287CFC !important;
}

.bg-red {
    background-color: rgb(245, 41, 54) !important;
}

.font-size-1 {
    font-size: 13px;
}

.cursor-pointer {
    cursor: pointer;
}

.hidden {
    display: none!important;
}

.border-bottom-gray {
    border-bottom-style: solid !important;
    border-width: 1px !important;
    border-color: #393839 !important;
}

.border-bottom-gray-light {
    border-bottom-style: solid !important;
    border-width: 1px !important;
    border-color: #dee0e1 !important;
}

.border-right-gray-light {
    border-right-style: solid !important;
    border-width: 1px !important;
    border-color: #dee0e1 !important;
}

.border-bottom-blue-3 {
    border-bottom-style: solid !important;
    border-width: 3px !important;
    border-color: #2e69ff !important;
}

.hover-border-color-blue:hover {
    border: 1px solid #2e69ff !important;
}

.hover-border-bottom-color-blue:hover {
    border-bottom-color: #2e69ff !important;
}

.border-gray {
    border: 1px solid #393839 !important;
}

.border-gray-light {
    border-color: #dee0e1 !important;
}

.border-blue {
    border-color: rgb(46, 105, 255) !important;
}

.modal-backdrop {
    background-color: rgb(38, 38, 38) !important;
}

.hover-opacity-9:hover {
    opacity: 0.9;
}



