<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.mapper.AnswerCommentMapper">

    <insert id="insert" parameterType="CommentVO">

        <selectKey keyProperty="coNo" resultType="int" order="BEFORE">
            select COMMENT_SEQ.NEXTVAL from dual
        </selectKey>

        INSERT INTO TB_ANSWER_COMMENT (co_no, ans_no, answer_comment, user_email, parent_co_no)
        VALUES (#{coNo}, #{ansNo}, #{answerComment}, #{userEmail}, #{parentCoNo})

    </insert>

    <select id="delete" parameterType="int">

        DELETE FROM TB_ANSWER_COMMENT
        WHERE co_no IN (SELECT co_no
                        FROM TB_ANSWER_COMMENT
                        START WITH co_no = #{coNo}
                        CONNECT BY PRIOR  co_no = parent_co_no)

    </select>

<!--    <select id="selectOne" parameterType="int" resultMap="AnswerReplyResultMap">-->
<!--        SELECT * FROM TB_ANS_COMMENT WHERE COMMENT_NO=#{replyNo}-->
<!--    </select>-->

    <select id="selectLastCoNo" parameterType="int" resultType="int">

        SELECT MAX(co_no)
        FROM TB_ANSWER_COMMENT
        WHERE ans_no = #{ansNo}
    </select>

    <select id="selectList" parameterType="CommentVO" resultMap="AnswerCommentResultMap">

        SELECT level,
               CO.co_no,
               CO.ans_no,
               CO.answer_comment,
               CO.parent_co_no,
               CO.reg_date,
               U.email,
               U.name,
               U.photo,
               U.occupation
        FROM tb_answer_comment CO, tb_user U
        WHERE U.email = CO.user_email
        START WITH CO.co_no IN (SELECT co_no
                                FROM (SELECT ROWNUM AS RN, co_no
                                      FROM tb_answer_comment
                                      WHERE parent_co_no = 0
                                            AND ans_no = #{ansNo}
                                        <if test="lastCoNo != null and lastCoNo != ''">
                                            AND co_no <![CDATA[>]]> #{lastCoNo}
                                        </if>
                                      ORDER BY co_no)
                                WHERE RN <![CDATA[<=]]> 3)
        CONNECT BY PRIOR CO.co_no = CO.parent_co_no
        ORDER SIBLINGS BY CO.co_no

    </select>

<!--    <select id="selectMoreList" parameterType="map" resultMap="AnswerReplyResultMap">-->
<!--        SELECT LEVEL, ANS_NO, COMMENT_NO, PARENT_COMMENT_NO, CONTENT, WRITER, LIKE_CNT, REG_DATE FROM TB_ANS_COMMENT-->
<!--            START WITH COMMENT_NO IN (-->
<!--                                        SELECT COMMENT_NO-->
<!--                                        FROM (-->
<!--                                                SELECT COMMENT_NO-->
<!--                                                FROM TB_ANS_COMMENT-->
<!--                                                WHERE ans_no=#{ansNo} AND COMMENT_NO<![CDATA[>]]>#{replyNo} AND PARENT_COMMENT_NO=0-->
<!--                                                ORDER BY COMMENT_NO-->
<!--                                             )-->
<!--                                        WHERE rownum<![CDATA[<=]]>4-->
<!--                                        )-->
<!--            CONNECT BY PRIOR COMMENT_NO = PARENT_COMMENT_NO-->
<!--            ORDER SIBLINGS BY COMMENT_NO ASC-->
<!--    </select>-->

<!--&lt;!&ndash;    <select id="selectNestedMaxOrder" resultType="int" parameterType="int">&ndash;&gt;-->
<!--&lt;!&ndash;        SELECT NVL(MAX(comment_order), 0) FROM TB_ANS_COMMENT WHERE parent_comment_no=#{parentCommentNo}&ndash;&gt;-->
<!--&lt;!&ndash;    </select>&ndash;&gt;-->

<!--&lt;!&ndash;    <select id="selectMaxOrder" resultType="int" parameterType="int">&ndash;&gt;-->
<!--&lt;!&ndash;        SELECT NVL(MAX(comment_order), 0) FROM TB_ANS_COMMENT&ndash;&gt;-->
<!--&lt;!&ndash;    </select>&ndash;&gt;-->

<!--    <update id="update" parameterType="AnswerReplyVO">-->
<!--        UPDATE TB_ANS_COMMENT SET content = #{content}-->
<!--        WHERE comment_no=#{replyNo}-->
<!--    </update>-->

<!--    <delete id="delete" statementType="CALLABLE" parameterType="hashmap">-->
<!--        {-->
<!--            CALL PROC_DELETE_COMMENT(-->
<!--                #{replyNo}-->
<!--            )-->
<!--        }-->
<!--    </delete>-->

<!--    <select id="selectAll" resultType="AnswerReplyVO">-->
<!--        SELECT * FROM TB_ANS_COMMENT-->
<!--    </select>-->

<!--    <update id="addLike" parameterType="int">-->
<!--        UPDATE TB_ANS_COMMENT SET like_cnt=like_cnt + 1-->
<!--        WHERE comment_no=#{replyNo}-->
<!--    </update>-->

    <resultMap id="AnswerCommentResultMap" type="CommentVO">
        <id column="level" property="level"/>
        <id column="co_no" property="coNo"/>
        <id column="ans_no" property="ansNo"/>
        <id column="answer_comment" property="answerComment"/>
        <id column="parent_co_no" property="parentCoNo"/>
        <id column="reg_date" property="regDate"/>
        <id column="like_cnt" property="likeCnt"/>
        <id column="email" property="userEmail"/>
        <id column="name" property="userName"/>
        <id column="photo" property="userPhoto"/>
        <id column="occupation" property="userOccupation"/>
    </resultMap>


</mapper>