<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.mapper.AnswerReplyMapper">

    <insert id="insert" parameterType="AnswerReplyVO">

        <selectKey keyProperty="replyNo" resultType="int" order="BEFORE">
            select ANS_REPLY_SEQUENCE.NEXTVAL from dual
        </selectKey>

        INSERT INTO TB_ANS_REPLY (ans_no, reply_no, content, writer)
        VALUES (#{ansNo}, #{replyNo}, #{content}, #{writer})

    </insert>

    <select id="selectOne" parameterType="int" resultMap="AnswerReplyResultMap">
        SELECT * FROM TB_ANS_REPLY WHERE reply_no=#{replyNo}
    </select>

    <select id="selectList" parameterType="int" resultMap="AnswerReplyResultMap">
        SELECT * FROM (SELECT * FROM TB_ANS_REPLY WHERE ques_no=#{quesNo} ORDER BY reply_no DESC) WHERE ROWNUM BETWEEN 0 and 8
    </select>

    <select id="selectMoreList" parameterType="int" resultMap="AnswerReplyResultMap">
        SELECT * FROM (SELECT * FROM TB_ANS_REPLY WHERE reply_no<![CDATA[<]]>#{replyNo} ORDER BY reply_no DESC) WHERE ROWNUM BETWEEN 0 and 8
    </select>

    <update id="update" parameterType="AnswerReplyVO">
        UPDATE TB_ANS_REPLY SET content = #{content}
        WHERE reply_no=#{replyNo}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM TB_ANS_REPLY WHERE reply_no=#{replyNo}
    </delete>

    <select id="selectAll" resultType="AnswerReplyVO">
        SELECT * FROM TB_ANS_REPLY
    </select>

    <update id="addLike" parameterType="int">
        UPDATE TB_ANS_REPLY SET like_cnt=like_cnt + 1
        WHERE reply_no=#{replyNo}
    </update>

    <resultMap id="AnswerReplyResultMap" type="AnswerReplyVO">
        <id column="ans_no" property="ansNo"/>
        <id column="reply_no" property="replyNo"/>
        <id column="reg_date" property="regDate"/>
        <id column="like_cnt" property="likeCnt"/>
    </resultMap>

</mapper>