<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.mapper.AnswerMapper">

    <insert id="insert" parameterType="AnswerVO">

        -- file 테이블의 외래키로 사용될 ques_no를 반환받아 QuestionVO에 담김
        <selectKey keyProperty="ansNo" resultType="int" order="BEFORE">
            select ANS_SEQUENCE.NEXTVAL from dual
        </selectKey>

        INSERT INTO TB_ANSWER (ans_no, ques_no, content, writer)
        VALUES (#{ansNo}, #{quesNo}, #{content}, #{writer})
    </insert>

<!--    <select id="select" parameterType="int" resultMap="AnswerResultMap">-->
<!--        SELECT ques_no, ans_no, content, writer, reg_date, view_cnt, like_cnt FROM TB_ANSWER WHERE ans_no=#{ansNo}-->
<!--    </select>-->

<!--    <select id="selectList" parameterType="int" resultMap="AnswerResultMap">-->
<!--        SELECT ques_no, ans_no, content, writer, reg_date, view_cnt, like_cnt FROM TB_ANSWER WHERE ques_no=#{quesNo} ORDER BY ans_no DESC-->
<!--    </select>-->
<!--

    <select id="selectBestAnswer" parameterType="int" resultMap="AnswerResultMap">

        SELECT *
            (SELECT *
            FROM TB_ANSWER ANS,
                 TB_USER U
            WHERE ques_no = #{quesNo}
              AND U.user_no = ANS.user_no
            ORDER BY like_cnt DESC, ans_no ASC)
        WHERE ROWNUM = 1

    </select>
-->

<!--
    <select id="selectAnswers" parameterType="AnswerVO" resultMap="AnswerResultMap">
        SELECT *
              (SELECT *
              FROM TB_ANSWER ANS,
                   TB_USER U
              WHERE ques_no = #{quesNo}
                AND ans_no > #{ansNo}
              ORDER BY like_cnt DESC, ans_no ASC)
        WHERE ROWNUM BETWEEN 0 AND 10

    </select>
-->

<!--    <select id="selectAnsweredPairByUser" parameterType="int" resultMap="QAPairResultMap">-->
<!--        SELECT B.ques_no, B.question, A.answer, A.ans_no, A.reg_date, A.like_cnt, C.user_no, C.email, C.name, C.occupation, C.photo FROM tb_answer A, tb_question B, tb_user C WHERE A.ques_no = B.ques_no AND A.user_no = #{userNo} AND ROWNUM <![CDATA[<=]]> 5 ORDER BY A.ans_no DESC-->
<!--    </select>-->

<!--    <select id="selectMoreList" parameterType="int" resultMap="AnswerResultMap">
        SELECT * FROM (SELECT * FROM TB_ANSWER WHERE ques_no=#{quesNo} AND ans_no<![CDATA[<]]>#{ansNo} ORDER BY ans_no DESC) WHERE ROWNUM BETWEEN 0 AND 3
    </select>-->

    <update id="update" parameterType="AnswerVO">
        UPDATE TB_ANSWER SET title = #{title},
                         content = #{content}
        WHERE ans_no=#{ansNo}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM TB_ANSWER WHERE ans_no=#{ansNo}
    </delete>

    <insert id="addLike" parameterType="LikeVO">
        <selectKey keyProperty="likeNo" resultType="int" order="BEFORE">
            SELECT LIKE_SEQ.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO TB_LIKE_REC (like_no, ans_no, user_email, like_type)
        VALUES (#{likeNo}, #{ansNo}, #{userEmail}, #{likeType})
    </insert>

    <delete id="deleteLike" parameterType="LikeVO">
        DELETE FROM TB_LIKE_REC WHERE ans_no=#{ansNo} AND user_email=#{userEmail}
    </delete>

    <select id="findLike" parameterType="LikeVO" resultMap="likeResultMap">
        SELECT * FROM TB_LIKE_REC WHERE ans_no=#{ansNo} AND user_email=#{userEmail}
    </select>

    <update id="updateLike" parameterType="LikeVO">
        UPDATE TB_LIKE_REC
        SET like_type=#{likeType}
        WHERE ans_no=#{ansNo} AND user_email=#{userEmail}
    </update>

    <select id="countLike" parameterType="LikeVO" resultMap="likeCountMap">
        SELECT NVL(SUM(CASE WHEN like_type = 'UP' THEN 1 ELSE 0 END), 0) likes,
               NVL(SUM(CASE WHEN like_type = 'DOWN' THEN 1 ELSE 0 END), 0) dislikes
        FROM tb_like_rec WHERE ans_no=#{ansNo}
    </select>

    <update id="updateCommentCnt" parameterType="int">
        UPDATE TB_ANSWER SET comment_cnt=comment_cnt + #{coCnt}
        WHERE ans_no=#{ansNo}
    </update>

    <resultMap id="AnswerResultMap" type="AnswerVO">
        <id column="ques_no" property="quesNo"/>
        <id column="ans_no" property="ansNo"/>
        <id column="answer" property="answer"/>
        <id column="reg_date" property="regDate"/>
        <id column="like_cnt" property="likeCnt"/>
        <id column="user_no" property="userNo"/>
        <id column="email" property="userEmail"/>
        <id column="name" property="userName"/>
        <id column="photo" property="userPhoto"/>
        <id column="occupation" property="userOccupation"/>
    </resultMap>

    <resultMap id="likeResultMap" type="LikeVO">
        <id column="ans_no" property="ansNo"/>
        <id column="user_email" property="userEmail"/>
        <id column="like_type" property="likeType"/>
    </resultMap>

    <resultMap id="likeCountMap" type="Hashmap">
        <id column="likes" property="likes" javaType="int"/>
        <id column="dislikes" property="dislikes" javaType="int"/>
    </resultMap>



    <!--    <resultMap id="QAPairResultMap" type="QAPairVO">
            <id column="ans_no" property="ansNo"/>
            <id column="question" property="question"/>
            <id column="answer" property="answer"/>
            <id column="ans_no" property="ansNo"/>
            <id column="reg_date" property="answerRegDate"/>
            <id column="like_cnt" property="answerLikeCnt"/>
            <id column="user_no" property="answerUserNo"/>
            <id column="email" property="answerUserEmail"/>
            <id column="name" property="answerUserName"/>
            <id column="photo" property="answerUserPhoto"/>
            <id column="occupation" property="answerUserOccupation"/>
        </resultMap>-->
</mapper>