<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.mapper.ImageMapper">

    <insert id="insert" parameterType="ImageVO">

        <selectKey keyProperty="imgNo" resultType="int" order="BEFORE">
            select image_seq.nextval from dual
        </selectKey>

        INSERT INTO tb_answer_image (img_no, ans_no, image_path)
        VALUES (#{imgNo}, #{ansNo}, #{imagePath})
    </insert>

    <delete id="delete" parameterType="AnswerVO">
        DELETE FROM tb_answer_image WHERE ans_no = #{ansNo}
    </delete>

    <select id="selectOldFiles" resultMap="ImageResultMap">
        -- 하루전 업로드된 이미지
        SELECT image_path FROM tb_answer_image WHERE reg_date <![CDATA[<]]> (SELECT to_char(SYSDATE,'dd-mon-yy') FROM dual)
    </select>

    <resultMap id="ImageResultMap" type="ImageVO">
        <id column="image_path" property="imagePath"/>
    </resultMap>

</mapper>