<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.mapper.QuestionCategoryMapper">

    <select id="selectAll" resultMap="QuestionCategoryResultMap">
        SELECT * FROM tb_category ORDER BY category_code
    </select>

    <resultMap id="QuestionCategoryResultMap" type="QuestionCategoryVO">
        <id column="category_code" property="categoryCode"/>
        <id column="category_name" property="categoryName"/>
        <id column="category_photo" property="categoryPhoto"/>
    </resultMap>


</mapper>