<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.mapper.QuestionMapper">

    <insert id="insert" parameterType="QuestionVO">

        -- file 테이블의 외래키로 사용될 ques_no를 반환받아 QuestionVO에 담김
        <selectKey keyProperty="quesNo" resultType="int" order="BEFORE">
            select ques_sequence.NEXTVAL from dual
        </selectKey>

        INSERT INTO TB_QUESTION (ques_no, title, content, writer)
        VALUES (#{quesNo}, #{title}, #{content}, #{writer})

    </insert>

<!--    <select id="select" parameterType="int" resultMap="QuestionResultMap">-->
<!--        SELECT * FROM TB_QUESTION where ques_no=#{quesNo}-->
<!--    </select>-->
    <select id="select" parameterType="int" resultMap="QuestionResultMap">
        SELECT A.content, CONCAT(CONCAT(C.CATEGORY_NAME, '/'), B.CATEGORY_NAME) AS CATEGORY_PATH
        FROM tb_question A
                 JOIN TB_QUESTION_CATEGORY B ON B.CATEGORY_CODE = A.CATEGORY
                 JOIN TB_QUESTION_CATEGORY C ON C.CATEGORY_CODE = B.PARENT_CATEGORY_CODE
        WHERE A.QUES_NO = #{quesNo}
    </select>

    <update id="update" parameterType="QuestionVO">
        UPDATE TB_QUESTION SET title = #{title},
                         content = #{content}
        WHERE ques_no=#{quesNo}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM TB_QUESTION WHERE ques_no=#{quesNo}
    </delete>

<!--    <select id="selectAll" resultMap="QuestionResultMap">-->
<!--        SELECT ques.* FROM (SELECT * FROM TB_QUESTION ORDER BY ques_no DESC) ques WHERE ROWNUM BETWEEN 0 and 10-->
<!--    </select>-->

    <select id="selectList" parameterType="int" resultMap="QuestionResultMap">
        SELECT * FROM TB_QUESTION WHERE user_no = #{userNo} AND ROWNUM BETWEEN 0 AND 5
    </select>

    <select id="selectNotAnswered" parameterType="int" resultMap="QuestionResultMap">
        SELECT * FROM (SELECT * FROM TB_QUESTION WHERE answered='N' ORDER BY ques_no DESC) WHERE ROWNUM BETWEEN 0 and #{count}
    </select>

<!--    <select id="selectAnswered" parameterType="int" resultMap="QuestionResultMap">-->
<!--        SELECT * FROM (SELECT * FROM TB_QUESTION WHERE answered='Y' ORDER BY ques_no DESC) WHERE ROWNUM BETWEEN 0 and #{count}-->
<!--    </select>-->

<!--    <select id="selectAnsweredPair" parameterType="int" resultMap="QuestionResultMap">-->
<!--        SELECT B.ques_no, B.question, A.answer, A.ans_no, A.reg_date, A.like_cnt, C.user_no, C.email, C.name, C.occupation, C.photo FROM tb_answer A, tb_question B, tb_user C WHERE A.ques_no = B.ques_no AND A.user_no = #{userNo} AND ROWNUM <![CDATA[<=]]> 5 ORDER BY A.ans_no DESC-->
<!--    </select>-->

    <select id="selectAnsweredPair" parameterType="int" resultMap="QAPairResultMap">
        select B.ques_no, B.question, A.answer, a.ans_no, A.reg_date, c.user_no, c.email, c.name, c.occupation, c.photo from tb_answer A, (select ROWNUM AS RN, ques_no, question from tb_question where ques_no <![CDATA[>]]> #{quesNo}) B, tb_user C where B.RN <![CDATA[<=]]> 5
    </select>

    <select id="selectMore" parameterType="int" resultMap="QuestionResultMap">
        SELECT * FROM (SELECT * FROM TB_QUESTION WHERE ques_no<![CDATA[<]]>#{quesNo} ORDER BY ques_no DESC) WHERE ROWNUM BETWEEN 0 and 10
    </select>

    <select id="selectAllByTopic" resultMap="QuestionResultMap">
        SELECT * FROM (SELECT * FROM TB_QUESTION WHERE TOPIC=#{topic} ORDER BY ques_no DESC) WHERE ROWNUM BETWEEN 0 and 1
    </select>

    <select id="selectMoreByTopic" parameterType="map" resultMap="QuestionResultMap">
        SELECT * FROM (SELECT * FROM TB_QUESTION WHERE ques_no<![CDATA[<]]>#{quesNo} AND TOPIC=#{topic} ORDER BY ques_no DESC) WHERE ROWNUM BETWEEN 0 and 1
    </select>

    <update id="addViewCnt" parameterType="int">
        UPDATE TB_QUESTION SET view_cnt=view_cnt + 1
        WHERE ques_no=#{quesNo}
    </update>

    <update id="addLike" parameterType="int">
        UPDATE TB_QUESTION SET like_cnt=like_cnt + 1
        WHERE ques_no=#{quesNo}
    </update>

    <!--QuestionVO Mapper-->
    <resultMap id="QuestionResultMap" type="QuestionVO">
        <id column="ques_no" property="quesNo"/>
        <id column="category_path" property="catPath"/>
        <id column="reg_date" property="regDate"/>
        <id column="view_cnt" property="viewCnt"/>
        <id column="like_cnt" property="likeCnt"/>
    </resultMap>

    <resultMap id="QAPairResultMap" type="QAPairVO">
        <id column="ans_no" property="ansNo"/>
        <id column="question" property="question"/>
        <id column="answer" property="answer"/>
        <id column="ans_no" property="ansNo"/>
        <id column="reg_date" property="answerRegDate"/>
        <id column="like_cnt" property="answerLikeCnt"/>
        <id column="user_no" property="answerUserNo"/>
        <id column="email" property="answerEmail"/>
        <id column="name" property="answerUserName"/>
        <id column="photo" property="answerUserPhoto"/>
        <id column="occupation" property="answerUserOccupation"/>
    </resultMap>

</mapper>