<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.mapper.QuestionCategoryMapper">

    <select id="selectAll" parameterType="int" resultMap="QuestionCategoryResultMap">
        SELECT LEVEL - 1 AS space, category_code, category_name, parent_category_code, category_photo FROM tb_category START WITH parent_category_code = 0 CONNECT BY PRIOR category_code = parent_category_code ORDER SIBLINGS BY category_code
    </select>

    <resultMap id="QuestionCategoryResultMap" type="QuestionCategoryVO">
        <id column="category_code" property="categoryCode"/>
        <id column="category_name" property="categoryName"/>
        <id column="parent_category_code" property="parentCategoryCode"/>
        <id column="category_photo" property="categoryPhoto"/>
    </resultMap>


</mapper>