<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.mapper.UserMapper">

    <insert id="insert" parameterType="UserVO">
        INSERT INTO TB_USER (user_id, password)
        VALUES (#{userId}, #{userPW})
    </insert>

    <select id="select" parameterType="String" resultType="CustomUserDetails">
        SELECT email as username, password, authority FROM TB_USER where email=#{username}
    </select>

    <update id="update" parameterType="UserVO">
        UPDATE TB_USER SET password = #{userPW}
        WHERE user_id=#{userId}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM TB_USER WHERE user_id=#{userId}
    </delete>

    <!--ResultMap-->
    <resultMap id="UserDetailsMap" type="com.portfolio.security.CustomUserDetails">
        <result column="user_id" property="userId"/>
<!--        <result column="authority" property="authorities" typeHandler="com.portfolio.config.AuthorityTypeHandler" javaType="java.util.ArrayList"/>-->
<!--        <result column="reg_date" property="regDate"/>-->
    </resultMap>


</mapper>