<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.mapper.UserMapper">

    <insert id="insert" parameterType="UserVO">

        INSERT INTO TB_USER (email, password, name, photo, authority, occupation)
        VALUES (#{email}, #{password}, #{name}, #{photo}, #{authority}, #{occupation})
    </insert>

    <select id="selectForAuth" parameterType="String" resultType="UserVO">
        SELECT email as username, password, authority FROM TB_USER WHERE email=#{username}
    </select>

    <select id="select" parameterType="String" resultType="UserVO">
        SELECT email as username, name, photo, authority, occupation FROM TB_USER WHERE email = #{username}
    </select>

    <update id="update" parameterType="UserVO">
        UPDATE TB_USER SET password = #{password},
                           name = #{name},
                           photo = #{photo},
                           occupation = #{occupation}
        WHERE email = #{email}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM TB_USER WHERE user_id=#{userId}
    </delete>

    <select id="checkExist" parameterType="string" resultType="boolean">

        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END result
        FROM tb_user
        WHERE email = #{email}

    </select>

</mapper>